
<article>
  <img class="listing-photo" [src]="ubicacionFacultad?.photo"
    alt="Exterior photo of {{ubicacionFacultad?.nombre}}"/>
  <section class="listing-description">
    <h2 class="listing-heading">{{ubicacionFacultad?.nombre}}</h2>
    <p class="listing-location">{{ubicacionFacultad?.ciudad}}, {{ubicacionFacultad?.campus}}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Does this location have wifi: {{ubicacionFacultad?.wifi}}</li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Quiero más información</h2>
    <form [formGroup]="aplicarForm" (submit)="presentarSolicitud()">
      <label for="Nombre">NOMBRE</label>
      <input id="Nombre" type="text" formControlName="Nombre">

      <label for="Apellido">APELLIDO</label>
      <input id="Apellido" type="text" formControlName="Apellido">

      <label for="email">EMAIL</label>
      <input id="email" type="email" formControlName="email">
      <button type="submit" class="primary">Apply now</button>
    </form>
  </section>
</article>



